/* Modal Overlay */

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--drop-shadow);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    will-change: opacity, visibility
}

/* Modal Overlay Classes */

#modal-overlay.overlay-show {
    opacity: 1;
    visibility: visible;
}

#modal-overlay.overlay-hide {
    opacity: 0;
    visibility: hidden;
}

/* Modal Container */

#modal-container {
    position: relative;
    opacity: 0;
    bottom: 0;
    z-index: 102;
    filter: drop-shadow(0 2px 2px var(--drop-shadow));
    transform: translateY(100%);
    transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
                transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: opacity, transform;
}

#modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    text-align: center;
    box-shadow: 0 5px 15px var(--drop-shadow);
    box-sizing: border-box;
}

#modal-close-button {
    align-self: flex-end;
    cursor: pointer;
    color: var(--black);
    margin: 0;
    z-index: 5;
    line-height: 1;
    height: 100%;
    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;
    will-change: color, filter;
}

#modal-close-button:hover {
    color: var(--modal-close-button-hover);
    filter: drop-shadow(0 2px 2px var(--drop-shadow));
}

/* Modal Container Classes */

#modal-container.modal-show {
    animation: popUp 0.5s ease forwards;
}

#modal-container.modal-hide {
    animation: popDown 0.5s ease forwards;
}

/* Animations */

@keyframes popUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@media (min-width: 320px) {
    #modal-container {
        width: 240px;
        top: 52px;
    }

    #modal-content {
        border-radius: 10px;
        padding: 0 5% 5% 5%;
        border: 3px solid var(--black);
    }
}

@media (min-width: 375px) {
    #modal-container {
        top: 58px;
    }
}

@media (min-width: 425px) {
    #modal-container {
        width: 275px;
        top: 72px;
    }
}

@media (min-width: 768px) {
    #modal-container {
        top: 94px;
        width: 384px;
    }
}

@media (min-width: 1024px) {
    #modal-container {
        top: 107px;
        width: 425px;
    }
}

@media (min-width: 1440px) {
    #modal-container {
        width: 325px;
        top: 94px;
    }
}

@media (min-width: 1920px) {
    #modal-container {
        width: 375px;
        top: 107px;
    }
}

@media (min-width: 2560px) {
    #modal-container {
        width: 450px;
        top: 138px;
    }
}

@media (min-width: 3840px) {
    #modal-container {
        width: 625px;
        top: 205px;
    }

    #modal-content {
        border: 5px solid var(--black);
    }
}