/* Global Game Card Styling */

.game-card, .game-logo, .game-title {
    will-change: transform, filter;
}

.game-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    animation: gameCardAnimation 1s ease none;
    transition: transform 0.2s ease;
}

.game-logo {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.game-title-container {
    width: 100%;
    text-align: center;
}

.game-card:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.game-card:hover .game-logo {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.game-card:hover .game-title {
    filter: none;
}

/* Game Card Animations */

@keyframes gameCardAnimation {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 320px) {
    .game-card {
        width: 122px;
        margin: 0 4px 8px;
    }
}

@media (min-width: 375px) {
    .game-card {
        width: 144px;
    }
}

@media (min-width: 425px) {
    .game-card {
        width: 162px;
    }
}

@media (min-width: 768px) {
    .game-card {
        width: 224.4px;
        margin: 0 8px 16px;
    }
}

@media (min-width: 1024px) {
    .game-card {
        width: 301px;
    }
}

@media (min-width: 1440px) {
    .game-card {
        width: 282px;
    }
}

@media (min-width: 1920px) {
    .game-card {
        width: 301px;
    }
}

@media (min-width: 2560px) {
    .game-card {
        width: 372px;
        margin: 0 12px 24px;
    }
}

@media (min-width: 3840px) {
    .game-card {
        width: 564px;
        margin: 0 16px 32px;
    }
}