/* Overwatch Guess Button */

.overwatch-guess-button {
    font-family: var(--big-noodle-too-oblique), sans-serif;
    color: var(--white);
    background-color: var(--overwatch-guess-button-background);
    transition: transform 0.3s ease, background-color 0.3s ease;
    will-change: transform, background-color;
}

.overwatch-guess-button:hover {
    transform: scale(1.05);
    background-color: var(--overwatch-guess-button-background-hover);
}

@media (min-width: 320px) {
    .overwatch-guess-button {
        border: 1px solid var(--overwatch-guess-button-border);
        border-radius: 5px;
        width: 66px;
        height: 24px;
        font-size: 12px;
        padding-left: 3px;
        padding-top: 0;
    }
}

@media (min-width: 375px) {
    .overwatch-guess-button {
        height: 25px;
        width: 75px;
        font-size: 14px;
    }
}

@media (min-width: 425px) {
    .overwatch-guess-button {
        height: 28px;
        width: 88px;
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .overwatch-guess-button {
        border: 2px solid var(--overwatch-guess-button-border);
        font-size: 21px;
        height: 35px;
        width: 112px;
    }
}

@media (min-width: 1024px) {
    .overwatch-guess-button {
        font-size: 23px;
        height: 38px;
        width: 122px;
    }
}

@media (min-width: 1440px) {
    .overwatch-guess-button {
        font-size: 21px;
        height: 35px;
        width: 112px;
    }
}

@media (min-width: 1920px) {
    .overwatch-guess-button {
        font-size: 23px;
        height: 38px;
        width: 122px;
    }
}

@media (min-width: 2560px) {
    .overwatch-guess-button {
        border: 3px solid var(--overwatch-guess-button-border);
        font-size: 28px;
        width: 154px;
        height: 47px;
    }
}

@media (min-width: 3840px) {
    .overwatch-guess-button {
        border: 4px solid var(--overwatch-guess-button-border);
        font-size: 40px;
        width: 220px;
        height: 71px;

    }
}