/* SSB Guess Button */

.ssb-guess-button {
    font-family: var(--roboto-condensed), sans-serif;
    color: var(--ssb-guess-button-color);
    background: linear-gradient(to bottom, var(--black) 75%, var(--ssb-guess-button-bottom-red) 100%);
    transition: color 0.15s ease;
    will-change: color;
    z-index: 1;
    position: relative;
}

.ssb-guess-button::before, .ssb-guess-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.ssb-guess-button::before {
    background-color: var(--ssb-guess-button-background-before);
    transform: scaleY(0);
    transform-origin: top;
    z-index: -2;
    transition: transform 0.15s ease;
    will-change: transform;
}

.ssb-guess-button::after {
    z-index: -1;
    transition: opacity 0.15s ease;
    will-change: transform;
    background-image: repeating-linear-gradient(
            -45deg,
            var(--black) 0px,
            var(--black) 0px,
            transparent 2px,
            transparent 4px
    );
}

.ssb-guess-button:hover {
    color: var(--white);
}

.ssb-guess-button:hover::before {
    transform: scaleY(1);
}

.ssb-guess-button:hover::after {
    opacity: 0.1;
}

@media (min-width: 320px) {
    .ssb-guess-button {
        border: 1px solid var(--ssb-attribute-indicator-border);
        font-size: 10px;
        width: 74px;
    }
}

@media (min-width: 375px) {
    .ssb-guess-button {
        font-size: 11px;
        width: 80px;
    }
}

@media (min-width: 425px) {
    .ssb-guess-button {
        font-size: 13px;
        width: 92px;
    }
}

@media (min-width: 768px) {
    .ssb-guess-button {
        border: 2px solid var(--ssb-attribute-indicator-border);
        font-size: 16px;
        width: 119px;
    }
}

@media (min-width: 1024px) {
    .ssb-guess-button {
        font-size: 18px;
        width: 125px;
    }
}

@media (min-width: 1440px) {
    .ssb-guess-button {
        font-size: 16px;
        width: 119px;
    }
}

@media (min-width: 1920px) {
    .ssb-guess-button {
        font-size: 18px;
        width: 125px;
    }
}

@media (min-width: 2560px) {
    .ssb-guess-button {
        border: 3px solid var(--ssb-attribute-indicator-border);
        font-size: 21px;
        width: 145px;
    }

    .ssb-guess-button::after {
        background-image: repeating-linear-gradient(
                -45deg,
                var(--black) 0px,
                var(--black) 0px,
                transparent 3px,
                transparent 6px
        );
    }
}

@media (min-width: 3840px) {
    .ssb-guess-button {
        border: 4px solid var(--ssb-attribute-indicator-border);
        font-size: 36px;
        width: 238px;
    }

    .ssb-guess-button::after {
        background-image: repeating-linear-gradient(
                -45deg,
                var(--black) 0px,
                var(--black) 0px,
                transparent 4px,
                transparent 8px
        );
    }
}