/* Overwatch Guess Input */

.overwatch-guess-input {
    font-family: var(--poppins), sans-serif;
    color: var(--black);
    background-color: var(--white);
    transition: border;
    will-change: border;
}

@media (min-width: 320px) {
    .overwatch-guess-input {
        border: 1px solid var(--white);
        border-radius: 5px;
        font-size: 10px;
    }

    .overwatch-guess-input:hover {
        border: 1px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 1px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 375px) {
    .overwatch-guess-input {
        font-size: 11px;
    }
}

@media (min-width: 425px) {
    .overwatch-guess-input {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .overwatch-guess-input {
        border: 2px solid var(--white);
        font-size: 15px;
    }

    .overwatch-guess-input:hover {
        border: 2px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 2px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 1024px) {
    .overwatch-guess-input {
        font-size: 17px;
    }
}

@media (min-width: 1440px) {
    .overwatch-guess-input {
        font-size: 15px;
    }
}

@media (min-width: 1920px) {
    .overwatch-guess-input {
        font-size: 17px;
    }
}

@media (min-width: 2560px) {
    .overwatch-guess-input {
        border: 3px solid var(--white);
        font-size: 19px;
    }

    .overwatch-guess-input:hover {
        border: 3px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 3px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 3840px) {
    .overwatch-guess-input {
        border: 4px solid var(--white);
        font-size: 32px;
    }

    .overwatch-guess-input:hover {
        border: 4px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 4px solid var(--overwatch-guess-input-border-focus);
    }
}