/* Overwatch Guess Input */

.overwatch-guess-input {
    font-family: var(--poppins), sans-serif;
    color: var(--black);
    background-color: var(--white);
    transition: border;
    will-change: border;
}

@media (min-width: 320px) {
    .overwatch-guess-input {
        border: 1px solid var(--white);
        border-radius: 5px;
        height: 16px;
        width: 114px;
        font-size: 10px;
        padding: 3px;
    }

    .overwatch-guess-input:hover {
        border: 1px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 1px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 375px) {
    .overwatch-guess-input {
        font-size: 11px;
        height: 17px;
        width: 126px;
    }
}

@media (min-width: 425px) {
    .overwatch-guess-input {
        font-size: 13px;
        height: 20px;
        width: 148px;
    }
}

@media (min-width: 768px) {
    .overwatch-guess-input {
        border: 2px solid var(--white);
        font-size: 15px;
        width: 167px;
        height: 23px;
        padding: 4px;
    }

    .overwatch-guess-input:hover {
        border: 2px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 2px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 1024px) {
    .overwatch-guess-input {
        font-size: 17px;
        width: 193px;
        height: 26px;
    }
}

@media (min-width: 1440px) {
    .overwatch-guess-input {
        font-size: 15px;
        width: 167px;
        height: 23px;
    }
}

@media (min-width: 1920px) {
    .overwatch-guess-input {
        font-size: 17px;
        width: 193px;
        height: 26px;
    }
}

@media (min-width: 2560px) {
    .overwatch-guess-input {
        border: 3px solid var(--white);
        font-size: 19px;
        width: 215px;
        height: 29px;
        padding: 6px;
    }

    .overwatch-guess-input:hover {
        border: 3px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 3px solid var(--overwatch-guess-input-border-focus);
    }
}

@media (min-width: 3840px) {
    .overwatch-guess-input {
        border: 4px solid var(--white);
        width: 408px;
        height: 47px;
        font-size: 32px;
        padding: 8px;
    }

    .overwatch-guess-input:hover {
        border: 4px solid var(--overwatch-guess-input-border-hover);
    }

    .overwatch-guess-input:focus {
        border: 4px solid var(--overwatch-guess-input-border-focus);
    }
}