/* Alert Indicator */

#alert-indicator {
    font-family: var(--poppins), sans-serif;
    position: fixed;
    text-align: center;
    top: -2.5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: var(--white);
    z-index: 101;
    filter: drop-shadow(0 2px 2px var(--drop-shadow));
    transition: opacity 1s;
    will-change: opacity, top;
}

/* Alert Indicator Classes */

#alert-indicator.show {
    animation: showAlert 0.5s forwards;
}

#alert-indicator.hide {
    animation: hideAlert 0.5s forwards;
}

#alert-indicator.good {
    background-color: var(--success);
}

#alert-indicator.bad {
    background-color: var(--error);
}

/* Alert Indicator Animations */

@keyframes showAlert {
    0% {
        top: -2.5%;
        opacity: 0;
    }
    100% {
        top: 2.5%;
        opacity: 1;
    }
}

@keyframes hideAlert {
    0% {
        top: 2.5%;
        opacity: 1;
    }
    100% {
        top: -2.5%;
        opacity: 0;
    }
}

@media (min-width: 320px) {
    #alert-indicator {
        padding: 2% 3%;
        font-size: 16px;
        border-radius: 5px;
    }
}

@media (min-width: 768px) {
    #alert-indicator {
        font-size: 20px;
        padding: 1% 2%;
        border-radius: 10px;
    }
}

@media (min-width: 1024px) {
    #alert-indicator {
        font-size: 24px;
    }
}
@media (min-width: 1440px) {
    #alert-indicator {
        padding: 0.5% 1%;
    }
}

@media (min-width: 2560px) {
    #alert-indicator {
        font-size: 32px;
    }
}

@media (min-width: 3840px) {
    font-size: 36px;
    padding: 0.75% 1.5%;
    border-radius: 15px;
}