/* Nav Bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-50%);
    background-color: var(--nav-bar-background);
    box-shadow: 0 2px 5px var(--box-shadow);
    z-index: 100;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: dropDown 1.0s ease forwards;
    will-change: opacity, transform;
}

#options-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
}

#account-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--poppins), sans-serif;
    transition: background-color 0.25s ease;
    will-change: background-color;
}

#account-section:hover {
    background-color: var(--nav-bar-account-section-hover);
}

nav .material-symbols-outlined {
    transition: transform 0.15s ease, filter 0.5s ease;
    will-change: transform, filter;
    color: var(--nav-bar-symbols);
}

nav #leaderboard:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0.25px 0.25px var(--drop-shadow));
    cursor: pointer;
}

#account-modal {
    position: absolute;
    top: calc(100%);
    transform-origin: top center;
    transform: scaleY(0.9);
    background-color: var(--white);
    box-shadow: 0 4px 8px var(--box-shadow);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: auto;
    transition: opacity 0.25s ease, transform 0.25s ease;
    will-change: opacity, transform;
}

#account-modal::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 7.5px 7.5px 7.5px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    z-index: 100;
}

#account-modal.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}

.nav-button {
    margin-top: 0 !important;
}

#sign-up-section, #settings-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.25s ease, transform 0.25s ease;
    will-change: background-color, transform;
}

#sign-up-section:hover, #settings-section:hover {
    background-color: var(--nav-bar-account-section-hover);
    transform: scale(1.05);
}

#settings-section:hover #settings {
    transform: rotate(30deg);
    filter: drop-shadow(0 0.25px 0.25px var(--drop-shadow));
}

#sign-up-text, #settings-text {
    color: var(--nav-bar-symbols);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container {
    background-color: var(--white);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pixele-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#pixele-logo {
    height: 70%;
    width: auto;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

#leaderboard { /* Will be hidden until Leaderboard page is done. */
    visibility: hidden;
}

#settings-section { /* Will be hidden until settings page is done. */
    visibility: hidden;
}

/* Nav Bar Animations */

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 320px) {
    nav {
        margin: 8px auto 0 auto;
        border-radius: 5px;
        width: 85vw;
        height: 36px;
    }

    #logo-container {
        width: 30px;
        padding: 0 11px;
    }

    #options-container {
        margin-right: 18px;
    }

    #account-section {
        border-radius: 5px;
        padding: 4.5px;
    }

    #account-name {
        font-size: 0.5em;
    }

    #account {
        margin-right: 3px;
    }

    #chevron-down {
        font-size: 0.85em;
        margin-left: 1px;
    }

    #leaderboard {
        margin-right: 1px;
    }

    nav .material-symbols-outlined {
        font-size: 3.75vh;
    }

    #account-modal {
        width: 90px;
        padding: 8px;
        border-radius: 5px;
        margin-top: 2.5px;
    }

    #sign-up-section, #settings-section {
        border-radius: 5px;
    }

    #sign-up-section {
        margin-top: 12.5%;
    }

    #settings-section {
        margin-bottom: 12.5%;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 18px;
    }

    #sign-up-text, #settings-text {
        font-size: 0.7em;
    }

    #sign-up, #settings {
        margin-right: 5%;
    }

    #logo-container {
        padding: 0 4%;
        border-radius: 5px 0 0 5px;
    }
}

@media (min-width: 375px) {
    nav {
        height: 42px;
    }

    #logo-container {
        width: 35px;
        padding: 0 12px;
    }

    #options-container {
        margin-right: 22px;
    }

    #account-section {
        padding: 5px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 22px;
    }

    #account-modal {
        width: 100px;
        padding: 9.5px;
        margin-top: 1.5px;
    }

    #sign-up-text, #settings-text {
        font-size: 0.75em;
    }

    #sign-up-section {
        margin-top: 10%;
    }

    #settings-section {
        margin-bottom: 10%;
    }
}

@media (min-width: 425px) {
    nav {
        height: 56px;
    }

    #logo-container {
        width: 45px;
        padding: 0 14px;
    }

    #options-container {
        margin-right: 23px;
    }

    #account-section {
        padding: 6.5px;
    }

    #chevron-down {
        font-size: 1em;
    }

    #account-name {
        font-size: 0.75em;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #account-modal {
        width: 120px;
        padding: 14.5px;
        margin-top: 0;
    }

    #sign-up-text, #settings-text {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    nav {
        height: 62px;
        margin-top: 16px;
    }

    #logo-container {
        width: 47px;
        padding: 0 26px;
    }

    #options-container {
        margin-right: 50px;
    }

    #account-section {
        padding: 7.5px;
    }

    #chevron-down {
        font-size: 1.25em;
    }

    #account-name {
        font-size: 0.95em;
    }

    #account-section {
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #account-modal {
        width: 130px;
        padding: 16px;
    }
}

@media (min-width: 1024px) {
    nav {
        height: 75px;
    }

    #logo-container {
        width: 56.7px;
        padding: 0 35px;
    }

    #options-container {
        margin-right: 48px;
    }

    #account-section {
        padding: 8.5px;
    }

    #chevron-down {
        font-size: 1.5em;
    }

    #account-name {
        font-size: 1em;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 36px;
    }

    #account-modal {
        width: 160px;
    }

    #sign-up-text, #settings-text {
        font-size: 1em;
    }
}

@media (min-width: 1440px) {
    nav {
        border-radius: 8px;
        margin-top: 16px;
        height: 62px;
    }

    #logo-container {
        width: 47px;
        padding: 0 49px;
        border-radius: 8px 0 0 8px;
    }

    #options-container {
        margin-right: 50px;
    }

    #account-section {
        padding: 7.5px;
    }

    #account-name {
        font-size: 0.95em;
    }

    #account-modal {
        width: 130px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #sign-up-text, #settings-text {
        font-size: 1em;
    }
}

@media (min-width: 1920px) {
    nav {
        height: 75px;
    }

    #account-name {
        font-size: 1em;
    }

    #logo-container {
        width: 56.7px;
        padding: 0 65px;
    }

    #options-container {
        margin-right: 48px;
    }

    #account-section {
        padding: 8.5px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 36px;
    }

    #account-modal {
        width: 160px;
    }

    #sign-up-text, #settings-text {
        font-size: 1em;
    }
}

@media (min-width: 2560px) {
    nav {
        height: 90px;
        border-radius: 10px;
        margin-top: 24px;
    }

    #logo-container {
        width: 76px;
        padding: 0 87px;
        border-radius: 10px 0 0 10px;
    }

    #account-section {
        padding: 10px;
    }

    #options-container {
        margin-right: 80px;
    }

    #account-name, #chevron-down {
        font-size: 1.3em;
    }

    #account-modal {
        width: 217.6px;
        padding: 21.75px;
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 42px;
    }

    #sign-up-text, #settings-text {
        font-size: 1.25em;
    }
}

@media (min-width: 3840px) {
    nav {
        height: 125px;
        margin-top: 40px;
        border-radius: 15px;
    }

    #logo-container {
        width: 113px;
        padding: 0 130.5px;
        border-radius: 15px 0 0 15px;
    }

    #options-container {
        margin-right: 160px;
    }

    #account-section {
        padding: 14px;
    }

    #account-name, #chevron-down {
        font-size: 2em;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 56px;
    }

    #account-modal {
        width: 327px;
        padding: 32.625px;
    }

    #sign-up-text, #settings-text {
        font-size: 1.75em;
    }
}