/* Font Families */

@font-face {
    font-family: 'Header';
    src: url('https://assets.pixele.gg/fonts/Header.ttf');
}

/* Nav Bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-50%);
    background-color: rgba(229, 235, 244, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: dropDown 1.0s ease forwards;
    will-change: opacity, transform;
}

#options-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
}

#account-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Header', sans-serif;
    transition: background-color 0.25s ease;
}

#account-section:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav .material-symbols-outlined {
    transition: transform 0.15s ease, filter 0.5s ease;
    will-change: transform, filter;
    color: #5D6166;
}

nav #leaderboard:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0.25px 0.25px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

#account-modal {
    position: absolute;
    top: calc(100%);
    transform-origin: top center;
    transform: scaleY(0.9);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    opacity: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    will-change: opacity, transform;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: auto;
}

#account-modal::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 7.5px 7.5px 7.5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    z-index: 100;
}

#account-modal.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}

#sign-up-section, #settings-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;
    width: 100%;
}

#sign-up-section:hover, #settings-section:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
}

#settings-section:hover #settings {
    transform: rotate(30deg);
    filter: drop-shadow(0 0.25px 0.25px rgba(0, 0, 0, 0.5));
}

#settings-section {
    display: none;
}

#sign-up-text, #settings-text {
    color: #5D6166;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pixele-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#pixele-logo {
    height: 70%;
    width: auto;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

/* Nav Bar Animations */

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 320px) {
    nav {
        margin: 8px auto 0 auto;
        border-radius: 5px;
        width: 85vw;
        height: 42.5px;
    }

    #logo-container {
        width: 30px;
        padding: 0 11px;
    }

    #options-container {
        margin-right: 10%;
    }

    #account-section {
        border-radius: 5px;
        padding: 5%;
    }

    #account-name {
        font-size: 0.75em;
    }

    #account {
        margin-right: 5%;
    }

    #chevron-down {
        font-size: 0.85em;
        margin-left: 5%;
    }

    nav .material-symbols-outlined {
        font-size: 3.75vh;
    }

    #account-modal {
        width: 95px;
        padding: 8px;
        border-radius: 5px;
    }

    #sign-up-section, #settings-section {
        border-radius: 5px;
    }

    #sign-up-section {
        margin-top: 12.5%;
    }

    #settings-section {
        margin-bottom: 7.5%;
    }

    #leaderboard {
        margin-right: 7.5%;
    }

    #leaderboard, #account, #sign-up {
        font-size: 21.3px;
    }

    #sign-up-text, #settings-text {
        font-size: 0.75em;
    }

    #sign-up, #settings {
        margin-right: 5%;
    }

    #logo-container {
        padding: 0 4%;
        border-radius: 5px 0 0 5px;
    }
}

@media (min-width: 375px) {
    nav {
        height: 50px;
    }

    #logo-container {
        width: 35px;
        padding: 0 12.75px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 25px;
    }

    #account-modal {
        width: 111.5px;
        padding: 9.5px;
    }

    #sign-up-section {
        margin-top: 10%;
    }

    #settings-section {
        margin-bottom: 7.5%;
    }
}

@media (min-width: 425px) {
    nav {
        height: 65px;
    }

    #logo-container {
        width: 45.5px;
        padding: 0 14.6px;
    }

    #chevron-down {
        font-size: 1em;
    }

    #account-name {
        font-size: 0.9em;
    }

    #leaderboard, #account, #sign-up {
        font-size: 35px;
    }

    #account-modal {
        width: 128px;
        padding: 14.5px;
    }

    #sign-up-text, #settings-text {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    nav {
        height: 66.5px;
        margin-top: 16px;
    }

    #logo-container {
        width: 46.5px;
        padding: 0 26px;
    }

    #chevron-down {
        font-size: 1.25em;
    }

    #account-name {
        font-size: 1.1em;
    }

    #account-section {
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 38.4px;
    }

    #account-modal {
        width: 147px;
        padding: 16px;
    }
}

@media (min-width: 1024px) {
    nav {
        height: 89px;
    }

    #logo-container {
        width: 62px;
        padding: 0 35px;
    }

    #chevron-down {
        font-size: 1.5em;
    }

    #account-name {
        font-size: 1.25em;
    }

    #options-container {
        margin-right: 7.5%;
    }

    #leaderboard, #account, #sign-up {
        font-size: 51px;
    }

    #account-modal {
        width: 174px;
        padding: 21.75px;
    }

    #sign-up-text, #settings-text {
        font-size: 1.25em;
    }
}

@media (min-width: 1440px) {
    nav {
        border-radius: 8px;
        margin-top: 16px;
        height: 67.5px;
    }

    #logo-container {
        width: 47px;
        padding: 0 49px;
        border-radius: 8px 0 0 8px;
    }

    #options-container {
        margin-right: 5%;
    }

    #account-modal {
        width: 153px;
        padding: 18px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 33.75px;
    }
}

@media (min-width: 1920px) {
    nav {
        height: 81px;
    }

    #logo-container {
        width: 56.7px;
        padding: 0 65px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 40.5px;
    }

    #account-modal {
        width: 204px;
    }
}

@media (min-width: 2560px) {
    nav {
        height: 108px;
        border-radius: 10px;
        margin-top: 24px;
    }

    #logo-container {
        width: 76px;
        padding: 0 87px;
        border-radius: 10px 0 0 10px;
    }

    #chevron-down {
        font-size: 1.75em;
    }

    #account-name {
        font-size: 1.75em;
    }

    #account-modal {
        width: 217.6px;
        padding: 21.75px;
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 54px;
    }

    #sign-up-text, #settings-text {
        font-size: 1.5em;
    }
}

@media (min-width: 3840px) {
    nav {
        height: 162px;
        margin-top: 40px;
        border-radius: 15px;
    }

    #logo-container {
        width: 113px;
        padding: 0 130.5px;
        border-radius: 15px 0 0 15px;
    }

    #chevron-down {
        font-size: 2.5em;
    }

    #account-name {
        font-size: 2.5em;
    }

    #leaderboard, #account, #sign-up {
        font-size: 81px;
    }

    #account-modal {
        width: 327px;
        padding: 32.625px;
    }

    #sign-up-text, #settings-text {
        font-size: 2.25em;
    }
}