/* Nav Bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-50%);
    background-color: var(--nav-bar-background);
    box-shadow: 0 2px 5px var(--box-shadow);
    z-index: 100;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: navBarDropDown 1.0s ease forwards;
    will-change: opacity, transform;
}

#options-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
}

#account-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--poppins), sans-serif;
    transition: background-color 0.25s ease;
    will-change: background-color;
}

#account-section:hover {
    background-color: var(--nav-bar-account-section-hover);
}

nav .material-symbols-outlined {
    transition: transform 0.25s ease, filter 0.25s ease;
    will-change: transform, filter;
    color: var(--nav-bar-symbols);
}

nav #leaderboard:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 1px 1px var(--drop-shadow));
    cursor: pointer;
}

#account-modal {
    position: absolute;
    top: calc(100%);
    transform-origin: top center;
    transform: scaleY(0.9);
    background-color: var(--white);
    box-shadow: 0 4px 8px var(--box-shadow);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: auto;
    transition: opacity 0.25s ease, transform 0.25s ease;
    will-change: opacity, transform;
}

#account-modal::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    z-index: 100;
}

#account-modal.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}

.nav-button {
    margin-top: 0 !important;
}

#sign-up-section, #settings-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.25s ease, transform 0.25s ease;
    will-change: background-color, transform;
}

#sign-up-section:hover, #settings-section:hover {
    background-color: var(--nav-bar-account-section-hover);
    transform: scale(1.05);
}

#settings-section:hover #settings {
    transform: rotate(30deg);
    filter: drop-shadow(0 1px 1px var(--drop-shadow));
}

#sign-up-text, #settings-text {
    color: var(--nav-bar-symbols);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container {
    background-color: var(--white);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pixele-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#pixele-logo {
    height: 70%;
    width: auto;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

/*#leaderboard { !* Will be hidden until Leaderboard page is done. *!*/
/*    visibility: hidden;*/
/*}*/

/*#settings-section { !* Will be hidden until settings page is done. *!*/
/*    visibility: hidden;*/
/*}*/

/* Nav Bar Animations */

@keyframes navBarDropDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(5%);
    }
    85% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 320px) {
    nav {
        margin: 8px auto 0 auto;
        border-radius: 5px;
        width: 85vw;
        height: 36px;
    }

    #logo-container {
        width: 30px;
        padding: 0 11px;
        border-radius: 5px 0 0 5px;
    }

    #options-container {
        margin-right: 18px;
    }

    #account-section {
        border-radius: 5px;
        padding: 4px;
    }

    #account-name {
        font-size: 9px;
    }

    #account {
        margin-right: 3px;
    }

    #chevron-down {
        font-size: 13px;
        margin-left: 1px;
    }

    #leaderboard {
        margin-right: 1px;
    }

    #account-modal {
        width: 90px;
        padding: 8px;
        border-radius: 5px;
        margin-top: 2px;
    }

    #sign-up-section, #settings-section {
        border-radius: 5px;
    }

    #sign-up-section {
        margin-top: 11px;
    }

    #settings-section {
        margin-bottom: 11px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 18px;
    }

    #sign-up-text, #settings-text {
        font-size: 11px;
    }

    #sign-up, #settings {
        margin-right: 5%;
    }
}

@media (min-width: 375px) {
    nav {
        height: 42px;
    }

    #logo-container {
        width: 35px;
        padding: 0 12px;
    }

    #options-container {
        margin-right: 22px;
    }

    #account-section {
        padding: 5px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 22px;
    }

    #account-modal {
        width: 100px;
        padding: 9px;
        margin-top: 1px;
    }

    #sign-up-text, #settings-text {
        font-size: 12px;
    }

    #sign-up-section {
        margin-top: 10px;
    }

    #settings-section {
        margin-bottom: 10px;
    }
}

@media (min-width: 425px) {
    nav {
        height: 56px;
    }

    #logo-container {
        width: 45px;
        padding: 0 14px;
    }

    #options-container {
        margin-right: 23px;
    }

    #account-section {
        padding: 6px;
    }

    #chevron-down {
        font-size: 16px;
    }

    #account-name {
        font-size: 12px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #account-modal {
        width: 120px;
        padding: 12px;
        margin-top: 0;
    }

    #sign-up-text, #settings-text {
        font-size: 14px;
    }

    #sign-up-section {
        margin-top: 12px;
    }

    #settings-section {
        margin-bottom: 12px;
    }
}

@media (min-width: 768px) {
    nav {
        height: 62px;
        margin-top: 16px;
    }

    #logo-container {
        width: 47px;
        padding: 0 26px;
    }

    #options-container {
        margin-right: 50px;
    }

    #account-section {
        padding: 7px;
    }

    #chevron-down {
        font-size: 20px;
    }

    #account-name {
        font-size: 15px;
    }

    #account-section {
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #account-modal {
        width: 130px;
        padding: 16px;
    }

    #sign-up-section {
        margin-top: 13px;
    }

    #settings-section {
        margin-bottom: 13px;
    }
}

@media (min-width: 1024px) {
    nav {
        height: 75px;
    }

    #logo-container {
        width: 57px;
        padding: 0 35px;
    }

    #options-container {
        margin-right: 48px;
    }

    #account-section {
        padding: 8px;
    }

    #chevron-down {
        font-size: 24px;
    }

    #account-name {
        font-size: 16px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 36px;
    }

    #account-modal {
        width: 160px;
    }

    #sign-up-text, #settings-text {
        font-size: 16px;
    }

    #sign-up-section {
        margin-top: 16px;
    }

    #settings-section {
        margin-bottom: 16px;
    }
}

@media (min-width: 1440px) {
    nav {
        border-radius: 8px;
        margin-top: 16px;
        height: 62px;
    }

    #logo-container {
        width: 47px;
        padding: 0 49px;
        border-radius: 8px 0 0 8px;
    }

    #options-container {
        margin-right: 50px;
    }

    #account-section {
        padding: 7px;
    }

    #account-name {
        font-size: 15px;
    }

    #account-modal {
        width: 130px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 28px;
    }

    #sign-up-text, #settings-text {
        font-size: 16px;
    }

    #sign-up-section {
        margin-top: 13px;
    }

    #settings-section {
        margin-bottom: 13px;
    }
}

@media (min-width: 1920px) {
    nav {
        height: 75px;
    }

    #logo-container {
        width: 57px;
        padding: 0 60px;
    }

    #options-container {
        margin-right: 48px;
    }

    #account-section {
        padding: 8px;
    }

    #chevron-down {
        font-size: 24px;
    }

    #account-name {
        font-size: 16px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 36px;
    }

    #account-modal {
        width: 160px;
    }

    #sign-up-text, #settings-text {
        font-size: 16px;
    }

    #sign-up-section {
        margin-top: 16px;
    }

    #settings-section {
        margin-bottom: 16px;
    }
}

@media (min-width: 2560px) {
    nav {
        height: 90px;
        border-radius: 10px;
        margin-top: 24px;
    }

    #logo-container {
        width: 76px;
        padding: 0 75px;
        border-radius: 10px 0 0 10px;
    }

    #account-section {
        padding: 10px;
    }

    #options-container {
        margin-right: 80px;
    }

    #account-name {
        font-size: 21px;
    }

    #chevron-down {
        font-size: 20px;
    }

    #account-modal {
        width: 200px;
        padding: 21px;
        border-radius: 10px;
    }

    #leaderboard, #account, #sign-up {
        font-size: 42px;
    }

    #sign-up-text, #settings-text {
        font-size: 20px;
    }

    #sign-up-section {
        margin-top: 20px;
    }

    #settings-section {
        margin-bottom: 20px;
    }
}

@media (min-width: 3840px) {
    nav {
        height: 125px;
        margin-top: 40px;
        border-radius: 15px;
    }

    #logo-container {
        width: 113px;
        padding: 0 100px;
        border-radius: 15px 0 0 15px;
    }

    #options-container {
        margin-right: 145px;
    }

    #account-section {
        padding: 14px;
    }

    #account-name {
        font-size: 28px;
    }

    #chevron-down {
        font-size: 32px;
    }

    #leaderboard, #account, #sign-up, #settings {
        font-size: 56px;
    }

    #account-modal {
        width: 280px;
        padding: 32px;
    }

    #sign-up-text, #settings-text {
        font-size: 28px;
    }

    #sign-up-section {
        margin-top: 28px;
    }

    #settings-section {
        margin-bottom: 28px;
    }
}