/* Credits */

#header, #top-line, #line, #modal-close-button {
    font-family: var(--dosis-bold), sans-serif;
}

@media (min-width: 320px) {
    #modal-close-button {
        font-size: 1.75em;
    }

    #header {
        font-size: 1.1em;
        margin-top: -5%;
    }

    #top-line {
        font-size: 0.75em;
        margin-top: -5%;
    }

    #line {
        font-size: 0.6em;
    }
}

@media (min-width: 375px) {
    #header {
        font-size: 1.25em;
    }

    #top-line {
        font-size: 0.9em;
    }

    #line {
        font-size: 0.75em;
    }
}

@media (min-width: 425px) {
    #modal-close-button {
        font-size: 2.5em;
    }

    #header {
        font-size: 1.5em;
    }

    #top-line {
        font-size: 1em;
    }

    #line {
        font-size: 0.85em;
    }
}

@media (min-width: 768px) {
    #header {
        font-size: 1.75em;
    }

    #top-line {
        font-size: 1.25em;
    }

    #line {
        font-size: 0.95em;
    }
}

@media (min-width: 1024px) {
    #modal-close-button {
        font-size: 3em;
    }

    #header {
        font-size: 2em;
    }

    #top-line {
        font-size: 1.35em;
    }

    #line {
        font-size: 1.1em;
    }
}

@media (min-width: 1440px) {
    #modal-close-button {
        font-size: 2.5em;
    }

    #header {
        font-size: 1.5em;
    }

    #top-line {
        font-size: 1.1em;
    }

    #line {
        font-size: 0.9em;
    }
}

@media (min-width: 1920px) {
    #header {
        font-size: 1.75em;
    }

    #top-line {
        font-size: 1.2em;
    }

    #line {
        font-size: 1em;
    }
}

@media (min-width: 2560px) {
    #modal-close-button {
        font-size: 3.75em;
    }

    #header {
        font-size: 2em;
    }

    #top-line {
        font-size: 1.5em;
    }

    #line {
        font-size: 1.25em;
    }
}

@media (min-width: 3840px) {
    #modal-close-button {
        font-size: 4.5em;
    }

    #header {
        font-size: 2.75em;
    }

    #top-line {
        font-size: 2em;
    }

    #line {
        font-size: 1.75em;
    }
}