/* Credits */

#header, #top-line, #line, #modal-close-button {
    font-family: var(--dosis-bold), sans-serif;
}

#top-line {
    color: var(--disabled);
}

@media (min-width: 320px) {
    #modal-close-button {
        font-size: 28px;
    }

    #header {
        font-size: 17px;
        margin-top: -5%;
    }

    #top-line {
        font-size: 12px;
        margin-top: -5%;
    }

    #line {
        font-size: 9px;
        margin: 0;
    }
}

@media (min-width: 375px) {
    #header {
        font-size: 19px;
    }

    #top-line {
        font-size: 14px;
    }

    #line {
        font-size: 11px;
    }
}

@media (min-width: 425px) {
    #modal-close-button {
        font-size: 36px;
    }

    #header {
        font-size: 22px;
    }

    #top-line {
        font-size: 16px;
    }

    #line {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    #header {
        font-size: 25px;
    }

    #top-line {
        font-size: 18px;
    }

    #line {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    #modal-close-button {
        font-size: 40px;
    }

    #header {
        font-size: 28px;
    }

    #top-line {
        font-size: 20px;
    }

    #line {
        font-size: 17px;
    }
}

@media (min-width: 1440px) {
    #modal-close-button {
        font-size: 36px;
    }

    #header {
        font-size: 25px;
    }

    #top-line {
        font-size: 18px;
    }

    #line {
        font-size: 15px;
    }
}

@media (min-width: 1920px) {
    #modal-close-button {
        font-size: 40px;
    }

    #header {
        font-size: 28px;
    }

    #top-line {
        font-size: 20px;
    }

    #line {
        font-size: 17px;
    }
}

@media (min-width: 2560px) {
    #modal-close-button {
        font-size: 54px;
    }

    #header {
        font-size: 30px;
    }

    #top-line {
        font-size: 22px;
    }

    #line {
        font-size: 19px;
    }
}

@media (min-width: 3840px) {
    #modal-close-button {
        font-size: 68px;
    }

    #header {
        font-size: 42px;
    }

    #top-line {
        font-size: 30px;
    }

    #line {
        font-size: 26px;
    }
}