@media (min-width: 320px) {
    .overwatch-attribute-indicator-container {
        height: 26px;
    }
}

@media (min-width: 375px) {
    .overwatch-attribute-indicator-container {
        height: 28px;
    }
}

@media (min-width: 425px) {
    .overwatch-attribute-indicator-container {
        height: 32px;
    }
}

@media (min-width: 768px) {
    .overwatch-attribute-indicator-container {
        height: 42px;
    }
}

@media (min-width: 1024px) {
    .overwatch-attribute-indicator-container {
        height: 48px;
    }
}

@media (min-width: 1440px) {
    .overwatch-attribute-indicator-container {
        height: 42px;
    }
}

@media (min-width: 1920px) {
    .overwatch-attribute-indicator-container {
        height: 48px;
    }
}

@media (min-width: 2560px) {
    .overwatch-attribute-indicator-container {
        height: 66px;
    }
}

@media (min-width: 3840px) {
    .overwatch-attribute-indicator-container {
        height: 84px;
    }
}