/* SSB Picture */

.ssb-picture {
    background-color: #FFFFFF;
}

.ssb-picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: repeating-linear-gradient(
            -45deg,
            var(--ssb-repeating-linear-gradient-grey) 0px,
            var(--ssb-repeating-linear-gradient-grey) 0px,
            transparent 2px,
            transparent 4px
    );
}

@media (min-width: 320px) {
    .ssb-picture {
        border: 1px solid var(--black);
    }
}

@media (min-width: 768px) {
    .ssb-picture {
        border: 2px solid var(--black);
    }
}

@media (min-width: 2560px) {
    .ssb-picture {
        border: 3px solid var(--black);
    }

    .ssb-picture::before {
        background-image: repeating-linear-gradient(
                -45deg,
                var(--ssb-repeating-linear-gradient-grey) 0px,
                var(--ssb-repeating-linear-gradient-grey) 0px,
                transparent 3px,
                transparent 6px
        );
    }
}

@media (min-width: 3840px) {
    .ssb-picture {
        border: 4px solid var(--black);
    }

    .ssb-picture::before {
        background-image: repeating-linear-gradient(
                -45deg,
                var(--ssb-repeating-linear-gradient-grey) 0px,
                var(--ssb-repeating-linear-gradient-grey) 0px,
                transparent 4px,
                transparent 8px
        );
    }
}