/* Login modal */

#login-form-links {
    font-family: var(--poppins), sans-serif;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.login-form-link {
    color: var(--link);
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    will-change: color;
}

.login-form-link:hover {
    color: var(--link-hover);
}

#login-link-divider {
    color: var(--disabled);
    margin: 0 5% 0 5%;
}

@media (min-width: 320px) {
    form {
        width: 85%;
    }

    #login-form-links {
        font-size: 10px;
    }
}

@media (min-width: 375px) {
    #login-form-links {
        font-size: 11px;
    }
}

@media (min-width: 425px) {
    #login-form-links {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    form {
        width: 251px;
    }

    #login-form-links {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    form {
        width: 282px;
    }

    #login-form-links {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    form {
        width: 251px;
    }

    #login-form-links {
        font-size: 14px;
    }
}

@media (min-width: 1920px) {
    form {
        width: 282px;
    }

    #login-form-links {
        font-size: 16px;
    }
}

@media (min-width: 2560px) {
    form {
        width: 337px;
    }

    #login-form-links {
        font-size: 18px;
    }
}

@media (min-width: 3840px) {
    form {
        width: 476px;
    }

    #login-form-links {
        font-size: 25px;
    }
}