/* Input */

.form-input {
    font-family: var(--poppins), sans-serif;
    background-color: var(--input-background);
    white-space: nowrap;
    outline: none;
}

[id$="-text"] {
    font-family: var(--poppins), sans-serif;
    align-items: flex-start;
}

/* Input Classes */

.form-input.success {
    color: var(--success) !important;
    border-color: var(--success) !important;
    transition: color 0.5s ease, border-color 0.5s ease;
    will-change: color, border-color;
}

.form-input.error {
    color: var(--error) !important;
    border: 2px solid var(--error) !important;
    animation: shake 0.3s;
    animation-iteration-count: 1;
    will-change: transform;
}

/* Input Animations */

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@media (min-width: 320px) {
    [id$="-text"] {
        margin-bottom: 2px;
        font-size: 0.8em;
    }
    .form-input {
        font-size: 0.65em;
        border: 2px solid var(--black);
        border-radius: 3px;
    }
}

@media (min-width: 375px) {
    [id$="-text"] {
        font-size: 0.9em;
    }
    .form-input {
        font-size: 0.7em;
    }
}

@media (min-width: 425px) {
    [id$="-text"] {
        font-size: 1em;
    }

    .form-input {
        font-size: 0.8em;
        border-radius: 5px;
    }
}

@media (min-width: 1024px) {
    [id$="-text"] {
        font-size: 1.1em;
    }

    .form-input {
        font-size: 0.9em;
    }
}

@media (min-width: 1440px) {
    [id$="-text"] {
        font-size: 1em;
    }

    .form-input {
        font-size: 0.8em;
    }
}

@media (min-width: 1920px) {
    [id$="-text"] {
        font-size: 1.1em;
    }

    .form-input {
        font-size: 0.9em;
    }
}

@media (min-width: 2560px) {
    [id$="-text"] {
        font-size: 1.25em;
    }

    .form-input {
        font-size: 1em;
    }
}

@media (min-width: 3840px) {
    [id$="-text"] {
        font-size: 1.75em;
    }

    .form-input {
        font-size: 1.5em;
    }
}