/* Font Families */

@font-face {
    font-family: 'Header';
    src: url('https://assets.pixele.gg/fonts/Header.ttf');
}

/* Register Modal */

#username-requirements, #password-requirements {
    font-family: Header, sans-serif;
    color: #5D6166;
    transition: color 0.25s ease-in-out;
}

.username-status {
    opacity: 0;
    transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

#login-redirect, #login-link {
    font-family: Header, sans-serif;
    align-self: center;
}

#login-redirect {
    color: #5D6166;
}

#login-link {
    color: #0074E0;
    cursor: pointer;
}

/* Error Message Classes */

.requirement-met, .username-status.available {
    color: #00CC66;
    opacity: 1;
}

.requirement-not-met, .username-status.taken {
    color: #CA2D2D;
    opacity: 1;
}

.requirement-met, .requirement-not-met {
    transition: color 0.25s ease-in-out;
}

@media (min-width: 320px) {
    form {
        width: 85%
    }

    #username-requirements, #password-requirements {
        font-size: 0.6em;
        margin-top: 1%;
        margin-bottom: -5%;
    }

    #login-redirect {
        font-size: 0.75em;
    }
}

@media (min-width: 425px) {
    #username-requirements, #password-requirements {
        font-size: 0.7em;
    }

    #login-redirect {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }

    #username-requirements, #password-requirements {
        font-size: 0.8em;
    }

    #login-redirect {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 77.5%;
    }

    #username-requirements, #password-requirements {
        font-size: 0.9em;
    }

    #login-redirect {
        font-size: 1.25em;
    }
}

@media (min-width: 1440px) {
    #username-requirements, #password-requirements {
        font-size: 0.75em;
    }

    #login-redirect {
        font-size: 0.9em;
    }
}

@media (min-width: 1920px) {
    #login-redirect {
        font-size: 1.25em;
    }
}

@media (min-width: 2560px) {
    #username-requirements, #password-requirements {
        font-size: 1em;
    }
}

@media (min-width: 3840px) {
    #username-requirements, #password-requirements {
        font-size: 1.25em;
    }

    #login-redirect {
        font-size: 1.75em;
    }
}