/* Register Modal */

.username-status {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
    will-change: opacity, color;
}

#login-redirect, #login-link {
    font-family: var(--poppins), sans-serif;
    align-self: center;
}

#login-redirect {
    color: var(--disabled);
}

#login-link {
    color: var(--link);
    cursor: pointer;
}

/* Error Message Classes */

.username-status.available {
    color: var(--success);
    opacity: 1;
}

.username-status.taken {
    color: var(--error);
    opacity: 1;
}

.username-status.checking {
    color: var(--disabled);
    opacity: 1;
}

@media (min-width: 320px) {
    form {
        width: 85%
    }

    #login-redirect {
        font-size: 0.6em;
    }
}

@media (min-width: 375px) {
    #login-redirect {
        font-size: 0.7em;
    }
}

@media (min-width: 425px) {
    #login-redirect {
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    form {
        width: 251px;
    }

    #login-redirect {
        font-size: 0.85em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 282px;
    }

    #login-redirect {
        font-size: 1em;
    }
}

@media (min-width: 1440px) {
    form {
        width: 251px;
    }

    #login-redirect {
        font-size: 0.85em;
    }
}

@media (min-width: 1920px) {
    form {
        width: 282px;
    }

    #login-redirect {
        font-size: 1em;
    }
}

@media (min-width: 2560px) {
    form {
        width: 337px;
    }

    #login-redirect {
        font-size: 1.1em;
    }
}

@media (min-width: 3840px) {
    form {
        width: 476px;
    }

    #login-redirect {
        font-size: 1.6em;
    }
}