/* Font Families */

@font-face {
    font-family: 'Header';
    src: url('https://assets.pixele.gg/fonts/Header.ttf');
}

/* Register Modal */

#requirements {
    font-family: Header, sans-serif;
    color: #5D6166;
    transition: color 0.25s ease-in-out;
}

/* Error Message Classes */

.requirement-met {
    color: #00CC66;
}

.requirement-not-met {
    color: #CA2D2D;
}

.requirement-met, .requirement-not-met {
    transition: color 0.25s ease-in-out;
}

@media (min-width: 320px) {
    form {
        width: 85%
    }

    #requirements {
        font-size: 0.6em;
        margin-top: 1%;
        margin-bottom: -5%;
    }
}

@media (min-width: 425px) {
    #requirements {
        font-size: 0.7em;
    }
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }

    #requirements {
        font-size: 0.8em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 77.5%;
    }

    #requirements {
        font-size: 0.9em;
    }
}

@media (min-width: 1440px) {
    #requirements {
        font-size: 0.75em;
    }
}

@media (min-width: 2560px) {
    #requirements {
        font-size: 1em;
    }
}

@media (min-width: 3840px) {
    #requirements {
        font-size: 1.25em;
    }
}