/* Password Input */

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    margin: 0;
}

#visibility-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--input-visibility-toggle-background);
    border-left: 2px solid var(--black);
    margin-right: 2px;
}

/* Visibility Toggle Container Classes */

.toggle-visibility.error #visibility-toggle-container {
    border-left: 2px solid var(--error) !important;
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

.toggle-visibility.success #visibility-toggle-container {
    border-left: 2px solid var(--success) !important;
    transition: border-color 0.5s ease;
}

.toggle-visibility {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 2px;
    bottom: 2px;
    display: flex;
    align-items: center;
}

.toggle-visibility .material-symbols-outlined {
    color: var(--input-toggle-visibility);
    transition: color 0.2s ease;
    will-change: color, transform;
}

.toggle-visibility:hover .material-symbols-outlined {
    color: var(--input-toggle-visibility-hover);
}

/* Visibility Toggle Classes */

.toggle-visibility.success .material-symbols-outlined {
    color: var(--success) !important;
    transition: color 0.5s ease;
}

.toggle-visibility.error .material-symbols-outlined {
    color: var(--error) !important;
}

@media (min-width: 320px) {
    .password-container input {
        padding-right: 28px;
    }

    .toggle-visibility {
        width: 26px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 12px;
    }
}

@media (min-width: 375px) {
    .password-container input {
        padding-right: 32px;
    }

    .toggle-visibility {
        width: 30px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 14px;
    }
}

@media (min-width: 425px) {
    .password-container input {
        padding-right: 34px;
    }

    #visibility-toggle-container {
        border-radius: 0 2px 2px 0;
    }

    .toggle-visibility {
        width: 32px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .password-container input {
        padding-right: 34px;
    }

    .toggle-visibility {
        width: 32px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    .password-container input {
        padding-right: 38px;
    }

    .toggle-visibility {
        width: 36px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    .password-container input {
        padding-right: 34px;
    }

    .toggle-visibility {
        width: 32px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 15px;
    }
}

@media (min-width: 1920px) {
    .password-container input {
        padding-right: 38px;
    }

    .toggle-visibility {
        width: 36px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 18px;
    }
}

@media (min-width: 2560px) {
    .password-container input {
        padding-right: 44px;
    }

    .toggle-visibility {
        width: 42px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 20px;
    }

    .toggle-visibility.error #visibility-toggle-container {
        margin-right: 1px;
    }
}

@media (min-width: 3840px) {
    .password-container input {
        padding-right: 54px;
    }

    .toggle-visibility {
        width: 52px;
    }

    .toggle-visibility .material-symbols-outlined {
        font-size: 28px;
    }

    .toggle-visibility.error #visibility-toggle-container {
        margin-right: 3px;
    }
}
