.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    margin: 0;
}

.toggle-visibility {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.toggle-visibility .material-symbols-outlined {
    color: #9DA4B2;
    transition: color 0.2s ease;
}

.toggle-visibility:hover .material-symbols-outlined {
    color: #878a92;
}

.toggle-visibility.success .material-symbols-outlined {
    color: #00CC66 !important;
    transition: color 0.5s ease;
}

.toggle-visibility.error .material-symbols-outlined {
    color: #CA2D2D !important;
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

@media (min-width: 320px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 16px;
    }
}

@media (min-width: 425px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 24px;
    }
}

@media (min-width: 1440px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 18px;
    }
}

@media (min-width: 2560px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 24px;
    }
}

@media (min-width: 3840px) {
    .toggle-visibility .material-symbols-outlined {
        font-size: 32px;
    }
}
