@media (min-width: 320px) {
    .main {
        margin-top: calc(7.5vh + 16px);
    }
}

@media (min-width: 768px) {
    .main {
        margin-top: calc(7.5vh + 32px);
    }
}

@media (min-width: 2560px) {
    .main {
        margin-top: calc(7.5vh + 56px);
    }
}

@media (min-width: 3840px) {
    .main {
        margin-top: calc(7.5vh + 64px);
    }
}