html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/homescreen/background.png');
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    will-change: background-image;
}