html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scrollbar-width: none; /* Hides scrollbar on Firefox */
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    will-change: background-image;
    -ms-overflow-style: none; /* Hides scrollbar on Internet Explorer */
}

::-webkit-scrollbar {
    display: none; /* Hides scrollbar on Chrome, Safari, Edge, & all other webkit browsers (Opera, Brave, etc.) */
}

.homescreen-background {
    background-image: url('/homescreen/background.png') !important;
}

.login-background {
    background-image: url('/login/background.png') !important;
}

.register-background {
    background-image: url('/register/background.png') !important;
}

.overwatch-homescreen-background {
    background-image: url('/overwatch/game-card/background.png') !important;
}

.overwatch-game-background {
    background-image: url('/overwatch/guess-grid/game-background.png') !important;
}

.ssb-homescreen-background {
    background-image: url('/ssb/game-card/background.png') !important;
}

.ssb-game-background {
    background-image: url('/ssb/guess-grid/game-background.png') !important;
}

.pokemon-homescreen-background {
    background-image: url('/pokemon/game-card/background.png') !important;
}

.pokemon-game-background {
    background-image: url('/pokemon/guess-grid/game-background.png') !important;
}

.valorant-homescreen-background {
    background-image: url('/valorant/game-card/background.png') !important;
}

.valorant-game-background {
    background-image: url('/valorant/guess-grid/game-background.png') !important;
}

.r6-homescreen-background {
    background-image: url('/r6/game-card/background.png') !important;
}

.r6-game-background {
    background-image: url('/r6/guess-grid/game-background.png') !important;
}

.minecraft-homescreen-background {
    background-image: url('/minecraft/game-card/background.png') !important;
}

.minecraft-game-background {
    background-image: url('/minecraft/guess-grid/game-background.png') !important;
}

.clashroyale-homescreen-background {
    background-image: url('/clashroyale/game-card/background.png') !important;
}

.clashroyale-game-background {
    background-image: url('/clashroyale/guess-grid/game-background.png') !important;
}

.pvz-homescreen-background {
    background-image: url('/pvz/game-card/background.png') !important;
}

.pvz-game-background {
    background-image: url('/pvz/guess-grid/game-background.png') !important;
}

@media (min-width: 320px) {
    main {
        margin-top: calc(7.5vh + 16px);
    }
}

@media (min-width: 768px) {
    main {
        margin-top: calc(7.5vh + 32px);
    }
}

@media (min-width: 2560px) {
    main {
        margin-top: calc(7.5vh + 56px);
    }
}

@media (min-width: 3840px) {
    main {
        margin-top: calc(7.5vh + 64px);
    }
}