/* Game Card Grid */

#game-card-grid {
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

@media (min-width: 320px) {
    #game-card-grid {
        width: 304px;
    }
}

@media (min-width: 375px) {
    #game-card-grid {
        width: 286px;
    }
}

@media (min-width: 425px) {
    #game-card-grid {
        width: 340px;
    }
}

@media (min-width: 768px) {
    #game-card-grid {
        width: 474px;
    }
}

@media (min-width: 1024px) {
    #game-card-grid {
        width: 532px;
    }
}

@media (min-width: 1440px) {
    #game-card-grid {
        width: 711px;
    }
}

@media (min-width: 1920px) {
    #game-card-grid {
        width: 873px;
    }
}

@media (min-width: 2560px) {
    #game-card-grid {
        width: 933px;
    }
}

@media (min-width: 3840px) {
    #game-card-grid {
        width: 1497px;
    }
}