/* Input Requirements */

#password-requirements, #username-requirements {
    font-family: var(--poppins), sans-serif;
    color: var(--disabled);

}

.requirement-met {
    color: var(--success);
    opacity: 1;
}

.requirement-not-met {
    color: var(--error);
    opacity: 1;
}

.requirement-met, .requirement-not-met {
    transition: color 0.25s ease-in-out;
    will-change: color;
}

@media (min-width: 320px) {
    #password-requirements, #username-requirements {
        font-size: 8px;
        margin-top: 1%;
        margin-bottom: -5%;
    }
}

@media (min-width: 375px) {
    #password-requirements, #username-requirements {
        font-size: 0.55em;
    }
}

@media (min-width: 425px) {
    #password-requirements, #username-requirements {
        font-size: 0.6em;
    }
}

@media (min-width: 768px) {
    #password-requirements, #username-requirements {
        font-size: 0.65em;
    }
}

@media (min-width: 1024px) {
    #password-requirements, #username-requirements {
        font-size: 0.7em;
    }
}

@media (min-width: 1440px) {
    #password-requirements, #username-requirements {
        font-size: 0.65em;
    }
}

@media (min-width: 1920px) {
    #password-requirements, #username-requirements {
        font-size: 0.7em;
    }
}

@media (min-width: 2560px) {
    #password-requirements, #username-requirements {
        font-size: 0.85em;
    }
}

@media (min-width: 3840px) {
    #password-requirements, #username-requirements {
        font-size: 1.15em;
    }
}