/* Game Button */

#guess-button {
    cursor: pointer;
    white-space: nowrap;
}

@media (min-width: 320px) {
    #guess-button {
        margin: 3px;
    }
}

@media (min-width: 2560px) {
    #guess-button {
        margin: 5px;
    }
}

@media (min-width: 3840px) {
    #guess-button {
        margin: 7px;
    }
}