/* Verify Modal */

#user-email, #instruction, #resend-code, #verify {
    font-family: var(--poppins), sans-serif;
}

#instruction {
    color: var(--disabled);
}

#resend-code {
    transition: color 0.5s ease;
}

/* Resend Code Classes */

.resend-link {
    color: var(--link);
    cursor: pointer;
}

.resend-link.disabled {
    color: var(--disabled);
    cursor: not-allowed;
}

@media (min-width: 320px) {
    form {
        width: 190px;
    }

    #instruction {
        font-size: 0.55em;
        margin: 2.5% 0 0 0;
    }

    #user-email {
        font-size: 0.75em;
        margin-top: 6px;
    }

    #resend-code {
        font-size: 0.6em;
    }
}

@media (min-width: 375px) {
    form {
        width: 200px;
    }

    #instruction {
        font-size: 0.6em;
    }

    #user-email {
        font-size: 0.85em;
        margin-top: 8px;
    }

    #resend-code {
        font-size: 0.7em;
    }
}

@media (min-width: 425px) {
    form {
        width: 250px;
    }

    #instruction {
        font-size: 0.7em;
    }

    #user-email {
        font-size: 1em;
        margin-top: 8px;
    }

    #resend-code {
        font-size: 0.75em;
    }
}

@media (min-width: 768px) {
    form {
        width: 265px;
    }

    #instruction {
        font-size: 0.75em;
    }

    #user-email {
        font-size: 1.1em;
        margin-top: 12px;
    }

    #resend-code {
        font-size: 0.8em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 300px;
    }

    #instruction {
        font-size: 0.95em;
    }

    #user-email {
        font-size: 1.2em;
    }

    #resend-code {
        font-size: 0.9em;
    }
}

@media (min-width: 1440px) {
    form {
        width: 265px;
    }

    #instruction {
        font-size: 0.75em;
    }

    #user-email {
        font-size: 1.1em;
    }

    #resend-code {
        font-size: 0.8em;
    }
}

@media (min-width: 1920px) {
    form {
        width: 300px;
    }

    #instruction {
        font-size: 0.95em;
    }

    #user-email {
        font-size: 1.2em;
    }

    #resend-code {
        font-size: 0.9em;
    }
}

@media (min-width: 2560px) {
    form {
        width: 348px;
    }

    #instruction {
        font-size: 1.1em;
    }

    #user-email {
        font-size: 1.3em;
    }

    #resend-code {
        font-size: 1.1em;
    }
}

@media (min-width: 3840px) {
    form {
        width: 485px;
    }

    #instruction {
        font-size: 1.4em;
    }

    #user-email {
        font-size: 2em;
        margin-top: 20px;
    }

    #resend-code {
        font-size: 1.5em;
    }
}