/* Font Families */

@font-face {
    font-family: 'Header';
    src: url('https://assets.pixele.gg/fonts/Header.ttf');
}

/* Verify Modal */

#user-email, #instruction, #resend-code, #verify {
    font-family: 'Header', sans-serif;
}

#instruction {
    color: #5D6166;
}

#resend-code {
    transition: color 0.5s ease;
}

/* Resend Code Classes */

.resend-link {
    color: #0074E0;
    cursor: pointer;
}

.resend-link.disabled {
    color: #5D6166;
    cursor: not-allowed;
}

@media (min-width: 320px) {
    #instruction {
        font-size: 0.7em;
        margin: 5% 0 0 0;
    }

    #user-email {
        font-size: 0.9em;
    }

    form {
        width: 85%
    }

    #resend-code {
        font-size: 0.75em;
    }
}

@media (min-width: 425px) {
    #instruction {
        font-size: 0.9em;
        margin: 2.5% 0 0 0;
    }

    #user-email {
        font-size: 1.1em;
    }

    #resend-code {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }

    #instruction {
        font-size: 1em;
    }

    #user-email {
        font-size: 1.25em;
    }

    #resend-code {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 77.5%;
    }

    #instruction {
        font-size: 1.15em;
    }

    #user-email {
        font-size: 1.5em;
    }

    #resend-code {
        font-size: 1.25em;
    }
}

@media (min-width: 1440px) {
    form {
        width: 82.5%;
    }

    #instruction {
        font-size: 0.9em;
    }

    #user-email {
        font-size: 1.25em;
    }

    #resend-code {
        font-size: 1em;
    }
}

@media (min-width: 2560px) {
    form {
        width: 80%;
    }

    #instruction {
        font-size: 1.25em;
    }

    #user-email {
        font-size: 1.5em;
    }

    #resend-code {
        font-size: 1.25em;
    }
}

@media (min-width: 3840px) {
    #instruction {
        font-size: 1.75em;
    }

    #user-email {
        font-size: 2.25em;
    }

    #resend-code {
        font-size: 1.75em;
    }
}