/* Font Families */

@font-face {
    font-family: 'Header';
    src: url('https://assets.pixele.gg/fonts/Header.ttf');
}

/* Button */

.button {
    position: relative;
    font-family: 'Header', sans-serif;
    align-self: center;
    border: none;
    color: #ffffff;
    background-color: #0074E0;
    cursor: pointer;
    transition: background-color 0.5s ease, transform, 0.25s ease;
}

.button:hover {
    background-color: #148EFF;
    transform: scale(1.05);
}

.button:disabled {
    background-color: #5D6166;
    cursor: not-allowed;
}

.button__content {
    transition: opacity 0.2s ease-in-out;
}

/* Button Classes */

.button__content--hidden {
    opacity: 0;
}

.button__content--visible {
    opacity: 1;
}

.button__success {
    animation: buttonSuccessFade 0.5s ease forwards;
    pointer-events: none;
}

.button__error {
    animation: buttonErrorFade 0.5s ease forwards;
    pointer-events: none;
}

/* Button Animations */

@keyframes buttonSuccessFade {
    0% {
        background-color: #00CC66;
    }
    100% {
        background-color: #00CC66;
    }
}

@keyframes buttonErrorFade {
    0% {
        background-color: #CA2D2D;
    }
    100% {
        background-color: #CA2D2D;
    }
}

/* Throbber Animation */

.button__dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__dot {
    height: 8px;
    width: 8px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    animation: buttonPulse 1.5s infinite ease-in-out;
}

.button__dot:last-child {
    margin-right: 0;
}

.button__dot:nth-child(1) {
    animation-delay: -0.3s;
}

.button__dot:nth-child(2) {
    animation-delay: -0.1s;
}

.button__dot:nth-child(3) {
    animation-delay: 0.1s;
}

.button__dot:nth-child(4) {
    animation-delay: 0.3s;
}

.button__dot:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes buttonPulse {
    0% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
}

@media (min-width: 320px) {
    .button {
        margin-top: 10%;
        border-radius: 5px;
        padding: 2.5% 7.5% 2.5% 7.5%;
        font-size: 1.25em;
    }

    .nav-button {
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 425px) {
    .button {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    .button {
        font-size: 2em;
    }
}

@media (min-width: 1440px) {
    .button {
        font-size: 1.5em;
    }
}

@media (min-width: 2560px) {
    .button {
        font-size: 2em;
    }
}

@media (min-width: 3840px) {
    .button {
        font-size: 2.5em;
    }
}