/* Button */

.button {
    position: relative;
    font-family: var(--poppins), sans-serif;
    align-self: center;
    border: none;
    color: var(--white);
    background-color: var(--button-background);
    cursor: pointer;
    transition: background-color 0.5s ease, transform, 0.25s ease;
    will-change: background-color, transform;
}

.button:hover {
    background-color: var(--button-background-hover);
    transform: scale(1.05);
}

.button:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
}

.button__content {
    transition: opacity 0.2s ease-in-out;
}

/* Button Classes */

.button__content--hidden {
    opacity: 0;
}

.button__content--visible {
    opacity: 1;
}

.button__success {
    animation: buttonSuccessFade 0.5s ease forwards;
    pointer-events: none;
}

.button__error {
    animation: buttonErrorFade 0.5s ease forwards;
    pointer-events: none;
}

/* Button Animations */

@keyframes buttonSuccessFade {
    0% {
        background-color: var(--success);
    }
    100% {
        background-color: var(--success);
    }
}

@keyframes buttonErrorFade {
    0% {
        background-color: var(--error);
    }
    100% {
        background-color: var(--error);
    }
}

/* Throbber Animation */

.button__dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__dot {
    height: 8px;
    width: 8px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: var(--white);
    animation: buttonPulse 1.5s infinite ease-in-out;
    will-change: transform, opacity;
}

.button__dot:last-child {
    margin-right: 0;
}

.button__dot:nth-child(1) {
    animation-delay: -0.3s;
}

.button__dot:nth-child(2) {
    animation-delay: -0.1s;
}

.button__dot:nth-child(3) {
    animation-delay: 0.1s;
}

.button__dot:nth-child(4) {
    animation-delay: 0.3s;
}

.button__dot:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes buttonPulse {
    0% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
}

@media (min-width: 320px) {
    .button {
        border-radius: 5px;
        padding: 2.5% 7.5% 2.5% 7.5%;
        font-size: 0.9em;
        margin-top: 10px;
    }

    .nav-button {
        margin: 0;
        width: 100%;
        font-size: 0.85em !important;
    }
}

@media (min-width: 375px) {
    .button {
        margin-top: 12px;
    }

    .nav-button {
        font-size: 1em !important;
    }
}

@media (min-width: 425px) {
    .button {
        font-size: 1.1em;
        margin-top: 12px;
    }

    .nav-button {
        font-size: 1.25em !important;
    }
}

@media (min-width: 768px) {
    .button {
        font-size: 1.1em;
        margin-top: 16px;
    }

    .nav-button {
        font-size: 1.4em !important;
    }
}

@media (min-width: 1024px) {
    .button {
        font-size: 1.3em;
        margin-top: 20px;
    }

    .nav-button {
        font-size: 1.5em !important;
    }
}

@media (min-width: 1440px) {
    .button {
        font-size: 1.1em;
        margin-top: 16px;
    }

    .nav-button {
        font-size: 1.4em !important;
    }
}

@media (min-width: 1920px) {
    .button {
        font-size: 1.3em;
        margin-top: 20px;
    }

    .nav-button {
        font-size: 1.5em !important;
    }
}

@media (min-width: 2560px) {
    .button {
        font-size: 1.5em;
        margin-top: 24px;
    }

    .nav-button {
        font-size: 1.75em !important;
    }
}

@media (min-width: 3840px) {
    .button {
        margin-top: 42px;
        font-size: 2em;
    }

    .nav-button {
        font-size: 2.5em !important;
    }
}