/* Reset Password Modal */

#reset-password-instructions, #back {
    font-family: 'Header', sans-serif;
    align-self: center;
    text-align: center;
}

#reset-password-instructions {
    color: #5D6166;
}

#back-to-login {
    color: #0074E0;
    cursor: pointer;
}

@media (min-width: 320px) {
    form {
        width: 85%;
    }

    #reset-password-instructions {
        font-size: 0.7em;
        margin: 5% 0 0 0;
    }

    #back {
        font-size: 0.75em;
    }
}

@media (min-width: 425px) {
    #reset-password-instructions {
        font-size: 0.9em;
        margin: 2.5% 0 0 0;
    }

    #back {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }

    #reset-password-instructions {
        font-size: 1em;
    }

    #back {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 77.5%;
    }

    #reset-password-instructions {
        font-size: 1.15em;
    }

    #back {
        font-size: 1.25em;
    }
}

@media (min-width: 1440px) {
    #reset-password-instructions {
        font-size: 0.9em;
    }

    #back {
        font-size: 0.9em;
    }
}

@media (min-width: 1920px) {
    #back {
        font-size: 1.25em;
    }
}

@media (min-width: 2560px) {
    #reset-password-instructions {
        font-size: 1.25em;
    }
}

@media (min-width: 3840px) {
    #reset-password-instructions {
        font-size: 1.75em;
    }

    #back {
        font-size: 1.75em;
    }
}