/* Reset Password Modal */

#reset-password-instructions, #back {
    font-family: var(--poppins), sans-serif;
    align-self: center;
    text-align: center;
}

#reset-password-instructions {
    color: var(--disabled);
}

#back-to-login {
    color: var(--link);
    cursor: pointer;
}

@media (min-width: 320px) {
    form {
        width: 85%;
    }

    #reset-password-instructions {
        font-size: 0.55em;
        margin: 2.5% 0 0 0;
    }

    #back {
        font-size: 0.6em;
    }
}

@media (min-width: 375px) {
    #reset-password-instructions {
        font-size: 0.6em;
    }

    #back {
        font-size: 0.7em;
    }
}

@media (min-width: 425px) {
    #reset-password-instructions {
        font-size: 0.7em;
    }

    #back {
        font-size: 0.8em;
    }
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }

    #reset-password-instructions {
        font-size: 0.75em;
    }

    #back {
        font-size: 0.85em;
    }
}

@media (min-width: 1024px) {
    form {
        width: 282px;
    }

    #reset-password-instructions {
        font-size: 0.95em;
    }

    #back {
        font-size: 1em;
    }
}

@media (min-width: 1440px) {
    form {
        width: 251px;
    }

    #reset-password-instructions {
        font-size: 0.75em;
    }

    #back {
        font-size: 0.85em;
    }
}

@media (min-width: 1920px) {
    form {
        width: 282px;
    }

    #reset-password-instructions {
        font-size: 0.95em;
    }

    #back {
        font-size: 1em;
    }
}

@media (min-width: 2560px) {
    form {
        width: 337px;
    }

    #reset-password-instructions {
        font-size: 1.1em;
    }

    #back {
        font-size: 1.1em;
    }
}

@media (min-width: 3840px) {
    form {
        width: 476px;
    }

    #reset-password-instructions {
        font-size: 1.4em;
    }

    #back {
        font-size: 1.6em;
    }
}