/* PVZ Circle */

.pvz-circle {
    background-color: #ECE6C4;
}

@media (min-width: 320px) {
    .pvz-circle {
        border: 1px solid #5A260C;
    }
}

@media (min-width: 768px) {
    .pvz-circle {
        border: 2px solid #5A260C;
    }
}

@media (min-width: 2560px) {
    .pvz-circle {
        border: 3px solid #5A260C;
    }
}

@media (min-width: 3840px) {
    .pvz-circle {
        border: 4px solid #5A260C;
    }
}