/* SSB Circle */

.ssb-circle {
    background-color: var(--ssb-circle-background);
}

@media (min-width: 320px) {
    .ssb-circle {
        border: 1px solid var(--black);
    }
}

@media (min-width: 768px) {
    .ssb-circle {
        border: 2px solid var(--black);
    }
}

@media (min-width: 2560px) {
    .ssb-circle {
        border: 3px solid var(--black);
    }
}

@media (min-width: 3840px) {
    .ssb-circle {
        border: 4px solid var(--black);
    }
}