/* Code Input */

#code-inputs {
    display: flex;
    width: 100%;
}

.code-input {
    font-family: var(--poppins), sans-serif;
    text-align: center;
    background-color: var(--input-background);
    white-space: nowrap;
    outline: none;
}

/* Code Input Classes */

.code-input.success {
    color: var(--success) !important;
    border: 2px solid var(--success) !important;
    transition: color 0.5s ease, border 0.5s ease;
    will-change: border, border;
}

.code-input.error {
    color: var(--error) !important;
    border: 2px solid var(--error) !important;
    animation: shake 0.3s;
    animation-iteration-count: 1;
    will-change: transform;
}

/* Code Input Animations */

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@media (min-width: 320px) {
    #code-inputs {
        width: 175px;
    }

    .code-input {
        width: 80%;
        margin: 0 2.5%;
        padding: 1.5%;
        font-size: 16px;
        border: 2px solid var(--black);
        border-radius: 5px;
    }
}

@media (min-width: 375px) {
    #code-inputs {
        width: 185px;
    }

    .code-input {
        font-size: 17px;
    }
}

@media (min-width: 425px) {
    #code-inputs {
        width: 200px;
    }

    .code-input {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    #code-inputs {
        width: 220px;
    }

    .code-input {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    #code-inputs {
        width: 250px;
    }

    .code-input {
        font-size: 22px;
    }
}

@media (min-width: 1440px) {
    #code-inputs {
        width: 220px;
    }

    .code-input {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    #code-inputs {
        width: 250px;
    }

    .code-input {
        font-size: 22px;
    }
}

@media (min-width: 2560px) {
    #code-inputs {
        width: 300px;
    }

    .code-input {
        font-size: 30px;
    }
}

@media (min-width: 3840px) {
    #code-inputs {
        width: 330px;
    }

    .code-input {
        font-size: 36px;
    }
}