/* Overwatch Game Card */

#overwatch {
    background: var(--overwatch-game-card-background);
}

#overwatch .game-title {
    font-family: var(--poppins), sans-serif;
    color: var(--overwatch-game-card-title);
    background: var(--overwatch-game-card-title-background);
}

#overwatch:hover .game-title {
    color: var(--black);
    background-color: var(--white);
}

@media (min-width: 320px) {
    #overwatch {
        border: 2px solid var(--overwatch-game-card-border);
    }

    #overwatch .game-title {
        font-size: 10px;
        padding: 9px;
        height: 14px;
    }
}

@media (min-width: 375px) {
    #overwatch .game-title {
        font-size: 11px;
        padding: 9px;
        height: 18px;
    }
}

@media (min-width: 425px) {
    #overwatch {
        border: 3px solid var(--overwatch-game-card-border);
    }

    #overwatch .game-title {
        font-size: 15px;
        padding: 13px;
        height: 22px;
    }
}

@media (min-width: 768px) {
    #overwatch .game-title {
        font-size: 17px;
        padding: 16px;
        height: 26px;
    }
}

@media (min-width: 1024px) {
    #overwatch .game-title {
        font-size: 18px;
        padding: 20px;
    }
}

@media (min-width: 1440px) {
    #overwatch .game-title {
        font-size: 17px;
        padding: 16px;
        height: 26px;
    }
}

@media (min-width: 1920px) {
    #overwatch .game-title {
        font-size: 18px;
        padding: 20px;
    }
}

@media (min-width: 2560px) {
    #overwatch {
        border-radius: 5px;
    }

    #overwatch .game-title {
        font-size: 22px;
        padding: 25px;
        height: 31px;
    }
}

@media (min-width: 3840px) {
    #overwatch {
        border: 4px solid var(--overwatch-game-card-border);
    }

    #overwatch .game-title {
        font-size: 34px;
        padding: 35px;
        height: 49px;
    }
}