/* Pokémon Game Card */

#pokemon .game-title, #identifier, #dragon, #fire {
    font-family: var(--flexo-demi), sans-serif;
}

#pokemon {
    background-color: var(--pokemon-game-card-background);
}

#pokemon .game-title {
    color: var(--pokemon-game-card-title);
}

#types {
    display: flex;
    align-self: flex-start;
    text-align: center;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}

#identifier {
    align-self: flex-start;
    color: var(--pokemon-game-card-identifier);
}

#dragon, #fire {
    color: var(--white);
}

#dragon {
    background: linear-gradient(to bottom, var(--pokemon-dragon-top) 50%, var(--pokemon-dragon-bottom) 50%);
}

#fire {
    background-color: var(--pokemon-fire);
}

@media (min-width: 320px) {
    #pokemon {
        border-radius: 5px;
        border: 2px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 0.6em;
    }

    #identifier {
        font-size: 7px;
    }

    #types {
        font-size: 7px;
        gap: 4px;
    }

    #dragon, #fire {
        padding: 2px 4px;
        border-radius: 3px;
    }
}

@media (min-width: 375px) {
    #pokemon .game-title {
        font-size: 0.8em;
        height: 15px;
    }

    #identifier {
        height: 8.5px;
    }

    #types {
        font-size: 7px;
        height: 12.5px;
    }
}

@media (min-width: 425px) {
    #pokemon {
        border: 3px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 15px;
        height: 18px;
    }

    #identifier {
        font-size: 12px;
        height: 14.5px;
    }

    #types {
        font-size: 9.5px;
        height: 15.5px;
    }
}

@media (min-width: 768px) {
    #pokemon .game-title {
        font-size: 1.25em;
        height: 100%;
    }

    #identifier {
        font-size: 0.8em;
        height: 100%;
    }

    #types {
        gap: 6px;
        font-size: 0.65em;
        height: 100%;
    }

    #dragon, #fire {
        padding: 3px 6px;
    }
}

@media (min-width: 1024px) {
    #pokemon .game-title {
        font-size: 1.4em;
    }

    #identifier {
        font-size: 0.95em;
    }

    #types {
        font-size: 0.7em;
    }
}

@media (min-width: 1440px) {
    #pokemon .game-title {
        font-size: 1.25em;
    }

    #identifier {
        font-size: 0.85em;
    }

    #types {
        font-size: 0.65em;
    }
}

@media (min-width: 1920px) {
    #pokemon .game-title {
        font-size: 1.4em;
    }

    #identifier {
        font-size: 0.95em;
    }

    #types {
        font-size: 0.7em;
    }

    #dragon, #fire {
        padding: 4px 8px;
    }
}

@media (min-width: 2560px) {
    #pokemon {
        border-radius: 10px;
    }

    #pokemon .game-title {
        font-size: 1.55em;
    }

    #identifier {
        font-size: 1.1em;
    }

    #types {
        font-size: 0.95em;
    }

    #dragon, #fire {
        padding: 6px 10px;
        border-radius: 7px;
    }
}

@media (min-width: 3840px) {
    #pokemon {
        border: 4px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 2.3em;
    }

    #identifier {
        font-size: 1.8em;
    }

    #types {
        gap: 16px;
        font-size: 1.25em;
    }

    #dragon, #fire {
        padding: 8px 16px;
        border-radius: 15px;
    }
}