/* Pokémon Game Card */

#pokemon .game-title, #identifier, #dragon, #fire {
    font-family: var(--flexo-demi), sans-serif;
}

#pokemon {
    background-color: var(--pokemon-game-card-background);
}

#pokemon .game-title {
    color: var(--pokemon-game-card-title);
}

#types {
    display: flex;
    align-self: flex-start;
    text-align: center;
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100%;
}

#identifier {
    align-self: flex-start;
    color: var(--pokemon-game-card-identifier);
}

#dragon, #fire {
    color: var(--white);
}

#dragon {
    background: linear-gradient(to bottom, var(--pokemon-dragon-top) 50%, var(--pokemon-dragon-bottom) 50%);
}

#fire {
    background-color: var(--pokemon-fire);
}

@media (min-width: 320px) {
    #pokemon {
        border-radius: 5px;
        border: 2px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 11px;
        height: 12px;
    }

    #identifier {
        font-size: 8px;
        height: 9px;
    }

    #types {
        font-size: 6px;
        gap: 4px;
        height: 11px;
    }

    #dragon, #fire {
        padding: 2px 4px;
        border-radius: 3px;
    }
}

@media (min-width: 375px) {
    #pokemon .game-title {
        font-size: 12px;
        height: 15px;
    }

    #types {
        font-size: 7px;
        height: 12px;
    }
}

@media (min-width: 425px) {
    #pokemon {
        border: 3px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 15px;
        height: 19px;
    }

    #identifier {
        font-size: 12px;
        height: 14px;
    }

    #types {
        font-size: 9px;
        height: 15px;
    }
}

@media (min-width: 768px) {
    #pokemon .game-title {
        font-size: 19px;
        height: 25px;
    }

    #identifier {
        font-size: 13px;
        height: 15px;
    }

    #types {
        gap: 6px;
        font-size: 10px;
        height: 18px;
    }

    #dragon, #fire {
        padding: 3px 6px;
    }
}

@media (min-width: 1024px) {
    #pokemon .game-title {
        font-size: 21px;
        height: 27px;
    }

    #identifier {
        font-size: 16px;
        height: 19px;
    }

    #types {
        font-size: 12px;
        height: 20px;
    }
}

@media (min-width: 1440px) {
    #pokemon .game-title {
        font-size: 19px;
        height: 25px;
    }

    #identifier {
        font-size: 13px;
        height: 15px;
    }

    #types {
        gap: 6px;
        font-size: 10px;
        height: 18px;
    }

    #dragon, #fire {
        padding: 3px 6px;
    }
}

@media (min-width: 1920px) {
    #pokemon .game-title {
        font-size: 21px;
        height: 27px;
    }

    #identifier {
        font-size: 16px;
        height: 19px;
    }

    #types {
        font-size: 12px;
        height: 20px;
    }

    #dragon, #fire {
        padding: 4px 8px;
    }
}

@media (min-width: 2560px) {
    #pokemon {
        border-radius: 10px;
    }

    #pokemon .game-title {
        font-size: 25px;
        height: 33px;
    }

    #identifier {
        font-size: 18px;
        height: 22px;
    }

    #types {
        font-size: 15px;
        height: 26px;
    }

    #dragon, #fire {
        border-radius: 7px;
    }
}

@media (min-width: 3840px) {
    #pokemon {
        border: 4px solid var(--white);
    }

    #pokemon .game-title {
        font-size: 38px;
        height: 47px;
    }

    #identifier {
        font-size: 28px;
        height: 34px;
    }

    #types {
        gap: 12px;
        font-size: 20px;
        height: 38px;
    }

    #dragon, #fire {
        padding: 7px 14px;
        border-radius: 10px;
    }
}